[Unit]
Description=Cache API
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/cache-api/cache-api.py
WorkingDirectory=/opt/cache-api
Restart=always
User=root

[Install]
WantedBy=multi-user.target
